@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
*,
*::before,
*::after {
    transition: all 0.3s ease-in-out;
}

*,
::before,
::after {
    box-sizing: border-box;
}

html body {
    overflow-x: hidden;
    font-size: 15px;
    line-height: 1.4;
    background-color: #f4f6f8;
    -webkit-font-smoothing: antialiased;
    position: relative;
}

.top-bar {
    background-color: #15549a;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.container {
    max-width: auto;
}
#container p {
    display: inline;
}

p {
    margin: 0 0 26px;
    line-height: 1.6;
    font-weight: 400;
}
p:last-child {
    margin-bottom: 0px;
}

.top-text {
    padding-left: 20px;
    line-height: 1.6;
}

.mail-text {
    border-right-color: #15549a;
    border-right: 2px solid #1b5ca5;
    color: white;
}

.text-right {
    text-align: right !important;
}
h3 {
    font-size: 20px;
}
.header {
    background-color: rgba(255, 255, 255, 1);
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    z-index: 99;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    line-height: normal;
    vertical-align: middle;
}

.nav-item {
    text-transform: uppercase;
}

@media screen and (min-width: 576px) {
    .dropdown-menu {
        display: block;
        opacity: 0;
        transition: all 0.25s ease;
        text-transform: none;
    }
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    opacity: 1;
}

.carousel-item {
    height: 32rem;
    position: relative;
    background: none;
    color: white;
}

.carousel-item.active .container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

.slider-title {
    color: white;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
}

.overlay-img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
}

.btn {
    font-size: 14px;
    border-radius: 2px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 20px 30px;
    border: none;
    font-weight: 600;
}
.btn-default {
    color: white;
    border-color: #f51f8a;
}
.column-container {
    padding-left: 0;
    padding-right: 0;
}
.column-container .column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.column-inner:before .column-inner:after {
    content: " ";
    display: table;
}
.column-container .column-inner .wrapper .content {
    background-color: #fff !important;
    margin-bottom: 60px;
    padding: 40px;
    border: 1px solid #dee4ee;
    box-shadow: 0px 4px 16px 3px rgba(213, 221, 234, 0.5);
    text-align: center;
}
.features {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
    background-color: #ffffff;
}
.feature {
    margin-bottom: 40px !important;
}
.feature .feature-icon {
    margin-bottom: 20px;
}
.feature-circle {
    background-color: #f4f6f8;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    padding: 14px;
    color: #15549a;
    font-size: 26px;
    text-align: center;
}
.about {
    padding-top: 80px !important;
    padding-bottom: 50px !important;
}
.lead {
    color: #3c4b6b;
    line-height: 36px;
    font-size: 24px;
}
.text-column {
    margin-bottom: 35px;
}
.well-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 4px;
}

.list-none {
    list-style: none;
    margin: 0px 0px 20px 0px;
    padding: 0;
}

.bullet {
    position: relative;
    padding-left: 25px;
    display: inline-block;
    line-height: 32px;
}

.bullet-check-circle-default li {
    display: flex;
}

.bullet-check-circle-default li:before {
    font-family: "FontAwesome";
    display: block;
    position: relative;
    left: 0;
    font-size: 15px;
    color: #10a874;
    content: "\f05d";
    padding-right: 4px;
}
.list-pdf-file li a {
    color: #104b8c;
    text-decoration: underline;
    font-weight: 500;
}
.list-pdf-file li:before {
    font-family: "FontAwesome";
    display: block;
    position: absolute;
    left: 0;
    font-size: 15px;
    color: #ec4e10;
    content: "\f1c1";
    padding-right: 4px;
}
.row-filler {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
    background-color: #15549a !important;
}

.isotope-item::after {
    display: block;
    clear: both;
    content: " ";
}
.testimonial-block {
    position: relative;
}
.testimonial-box {
    background-color: white;
    padding: 30px;
    margin-bottom: 20px;
}
.testimonial-box .testimonial-text {
    font-family: "Merriweather", serif;
    color: #414855;
    font-style: italic;
    line-height: 32px;
}
.testimonial-img {
    float: left;
    padding-right: 29px;
}
.testimonial-img img {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    line-height: none;
    vertical-align: middle;
}
.testimonial-profile-infos {
    padding-top: 15px;
    padding-bottom: 12px;
}
.testimonial-name {
    color: #fff;
    line-height: 1;
    margin-bottom: 5px;
}
.testimonial-meta {
    font-size: 12px;
    color: #87c0ff;
}
.testimonial-container {
    display: flex;
    align-items: center;
    justify-items: center;
    place-items: center;
}
.testimonial {
    position: relative;
    max-width: 900px;
    width: 100%;
    background-color: red;
}

.testimonial .image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.footer {
    background-color: #1e2127;
    color: #ccc;
}
.section-space80 {
    padding-top: 80px;
    padding-bottom: 80px;
}
.newsletter-title {
    color: #ccc;
    margin-top: 10px;
    font-weight: 500;
}
.newsletter-form {
    margin-bottom: 30px;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.input-group .btn {
    font-size: 14px;
    border-radius: 2px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 20px 30px;
    border: none;
    font-weight: 600;
}
.input-group .btn-default {
    background-color: #f51f8a;
    color: #fff;
    border-color: #f51f8a;
}
.mt40 {
    margin-top: 40px;
}
.widget-footer {
    position: relative;
    padding-left: 20px;
    line-height: 32px;
    font-weight: 500;
}
.list_none {
    list-style: none;
    margin: 0px 0px 20px 0px;
    padding: 0;
}
.widget-footer ul li {
    margin-bottom: 8px;
    line-height: 1.6;
}
.widget-footer ul li:before {
    font-family: "FontAwesome";
    display: block;
    position: absolute;
    left: 0;
    font-size: 15px;
    color: #ccc;
    content: "\f105";
}
.widget-footer ul li a {
    color: #ccc;
    text-decoration: none;
}
.widget-footer ul li a:hover {
    color: #f51f8a;
}
.widget-social ul li {
    line-height: 1.6;
    margin-bottom: 8px;
}
.widget-social ul li a {
    color: #ccc;
    font-weight: 500;
    text-decoration: none;
}
.widget-social ul li a:hover {
    color: #f51f8a;
    text-decoration: underline;
}
.widget-social ul li a i {
    width: 30px;
}
.tiny-footer {
    background-color: #16191e;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #999;
}
#to-the-top {
    position: fixed;
    text-align: center;
    right: 10px;
    bottom: 40px;
    color: #fff;
    cursor: pointer;
    border-radius: 2px;
    z-index: 10000;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background-color: #f51f8a;
    background-repeat: no-repeat;
    background-position: center;
    transition: #f51f8a 0.1s linear;
    opacity: 0.6;
}
